.yellow-tag {
  padding: 0 .3rem;
  background: #fff9e8;
  border: 1px solid #ffde92;
  border-radius: 1rem;
}

.green-tag {
  padding: 0 .3rem;
  background: #d9e8de;
  border: 1px solid #b4d3c0;
  border-radius: 1rem;
}

.popup-top-border-track {
  padding: 16px;
  border-top: 1px solid #d2d3d8;
}

.flow-item-popup-container {
  max-width: 700;
  overflow: scroll;
  max-height: 80vh;
}

.flow-item-footer {
  width: 100%
}

.flow-body-reverse-margin {
  margin: -16px
}

.flow-body-padding {
  padding: 16px
}

.flow-tags-container {
  flex-wrap: wrap
}

.popup-darker-track {
  background: #f9f9f9
}

.flow-rule-container {
  width: 5rem
}

.flow-darker-container {
  padding: 0 .5rem;
  color: grey;
}

.flow-body-label {
  width: 100%;
}

.popup-client-text-demo {
  padding: 10px;
  background: #f0f0f2;
  border-radius: 0.5rem;
  width: 100%;
  min-height: 4rem;
  color: #9899a4;
  user-select: none;
}

.small-delete-rule-button {
  padding: 4px 10px;
  margin: 4px;
  border-radius: 10px;
}

.small-rule-button {
  padding: 4px 10px;
  margin: 4px;
  border-radius: 10px;
}

.rule-action-container {
  padding: 10px;
  background: #f001;
  border-radius: 4px;
  border: 1px solid #f002;
}

div>.small-rule-group-button {
  padding: 4px;
  min-width: 40px;
  text-align: center;
}

div>.small-rule-group-button:first-child {
  padding: 4px 10px;
  border-radius: 10px 0 0 10px;
}

div>.small-rule-group-button:last-child {
  border-radius: 0 10px 10px 0;
}

.rule-blue {
  background: #00f5;
}

.rule-blue:hover {
  background: #00f6;
}

.rule-red {
  background: #f007;
}

.rule-red:hover {
  background: #f008;
}

.rule-green {
  background: #0b0;
}

.rule-green:hover {
  background: #0b0b;
}

.rule-gray {
  background: #0001;
}

.rule-gray:hover {
  background: #0002;
}

.assign-action-container {
  padding: 10px;
  background: rgba(25, 0, 255, 0.067);
  border: 1px solid rgba(25, 0, 255, 0.067);
}

.small-assign-button {
  padding: 4px 10px;
  margin: 4px;
  border-radius: 10px;
}

.assign-blue {
  background: #00f5;
}

.assign-blue:hover {
  background: #00f6;
}

.assign-red {
  background: #f007;
}

.assign-red:hover {
  background: #f008;
}

// Workaround for chips to show properly in JSONTree
li:not(:has(> div > div)) .object-tree-chip {
  text-indent: 0;
  margin-left: -7px;
}
