.controls-adjustment > div {
  margin-bottom: 110px !important;
  position: absolute;
  left: 0;
  right: unset !important;
}

.zoom-position > div {
  margin-bottom: 261px !important;
}

.minimap {
  left: 0;
  position: absolute;
  right: unset !important;
  margin-bottom: 93px;
}

.center-controls {
  left: 90px;
  position: absolute;
  margin-bottom: 507px;
}

.zoom-controls {
  padding-left: 0 !important;
  padding-bottom: 226px;
}
