@import 'src/styles/settings/variables/_colors';

.ql-toolbar {
  border-radius: 4px 4px 0 0;
  color: white !important;
  background-color: var(--dark-bg-extra-light);
}
.ql-toolbar .ql-stroke {
  stroke: var(--dark-text-label) !important;
}

.ql-container {
  border-radius: 0 0 4px 4px;
  max-height: 145px;
  overflow-y: scroll;
}

.ql-snow {
  border: 1px solid #9799a4;
}

.ql-editor {
  min-height: 144px;
}

.ql-snow.ql-toolbar {
  .ql-stroke {
    stroke: var(--dark-text-label) !important;
  }
  .ql-fill {
    fill: var(--dark-text-label) !important;
  }
}
