@import 'src/styles/tools/color';
@import 'src/styles/settings/variables/_colors';

.dragHoverHighlight {
  background-color: get-color(sea-green-1) !important;
  border: 1px solid get-color(sea-green-10) !important;
  border-radius: 4px !important;
  box-shadow: 0 0 8px get-color(sea-green-3) !important;
  transition: all 0.2s ease-in-out !important;
}

.editor {
  height: 200px;
  padding-top: 8px;
}

[data-theme='dark'] {
  .jsoneditor,
  .jsoneditor-menu {
    background: var(--dark-bg-secondary) !important;
    color: var(--dark-text-secondary) !important;
    border-color: var(--dark-bg-extra-light) !important;
  }

  .jsoneditor-tree {
    background: var(--dark-bg-highlight) !important;
    color: var(--dark-text-secondary) !important;
  }

  .jsoneditor-navigation-bar {
    background: var(--dark-bg-light) !important;
    color: var(--dark-text-label) !important;
  }

  .jsoneditor-readonly {
    color: var(--dark-text-secondary) !important;
  }

  .jsoneditor-highlight {
    background-color: var(--dark-bg-secondary) !important;
  }

  .jsoneditor-field {
    background-color: var(--dark-bg-extra-light) !important;
    color: var(--dark-text-secondary) !important;

    &:focus {
      background-color: var(--dark-bg-extra-light) !important;
      border-color: var(--dark-text-disabled) !important;
    }

    &:hover {
      background-color: var(--dark-bg-highlight) !important;
      border-color: var(--dark-text-disabled) !important;
    }
  }

  .jsoneditor-value {
    background-color: var(--dark-bg-extra-light) !important;
    color: var(--dark-text-secondary) !important;

    &:focus {
      background-color: var(--dark-bg-extra-light) !important;
      border-color: var(--dark-text-disabled) !important;
    }

    &:hover {
      background-color: var(--dark-bg-highlight) !important;
      border-color: var(--dark-text-disabled) !important;
    }
  }

  .jsoneditor-frame {
    background-color: var(--dark-bg-highlight) !important;
    color: var(--dark-text-disabled) !important;

    input {
      background-color: var(--dark-bg-highlight) !important;
      color: var(--dark-text-disabled) !important;
    }
  }

  .jsoneditor-undo,
  .jsoneditor-redo {
    color: var(--dark-text-disabled) !important;
  }
}
