.api-elements-search {
  background: #ffffff;
  border: 1px solid #9799a4;
  color: #09090b;

  &::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9799a4;
  }
}

.api-elements-panel {
  .data-table {
    border-collapse: separate;
    border-spacing: 0 4px;

    thead th {
      background: #f0f0f2;
      border-bottom: 1px solid #d2d3d8;
    }

    tbody tr td {
      background: #e7f0f6;
      border-top: 1px solid #b9d2e5;
      border-bottom: 1px solid #b9d2e5 !important;
      height: 40px;
      padding: 0 10px;
    }

    tbody tr td:first-child {
      border-left: 1px solid #b9d2e5;
      border-radius: 4px 0 0 4px;
    }

    tbody tr td:last-child {
      border-right: 1px solid #b9d2e5;
      border-radius: 0 4px 4px 0;
    }

    tbody tr:hover td {
      background: #d4e6f1;
    }
  }

  .data-table__pagination-wrapper {
    background: #ffffff;
    box-shadow: 0px -1px 0px #5d6071;
  }

  &__action-btn {
    color: #555867;
  }
}

[data-theme='dark'] {
  .api-elements-search {
    background: var(--dark-bg-extra-light);
    border-color: var(--dark-text-border);
    color: var(--dark-text-primary);

    &::placeholder {
      color: var(--dark-text-disabled);
    }
  }

  .api-elements-panel {
    .data-table thead th {
      background: var(--dark-bg-light);
      border-bottom: 1px solid var(--dark-text-border);
      color: var(--dark-text-primary);
    }

    .data-table tbody tr td {
      background: var(--dark-bg-secondary);
      border-color: var(--dark-text-border);
      color: var(--dark-text-secondary);
    }

    .data-table tbody tr:hover td {
      background: var(--dark-bg-light);
    }

    .data-table__pagination-wrapper {
      background: var(--dark-bg-highlight);
      box-shadow: 0px -1px 0px var(--dark-text-border);
    }

    &__action-btn {
      color: var(--dark-text-secondary);
    }
  }
}
