@import 'src/styles/tools/spacing';
@import 'src/styles/tools/color';
@import 'src/styles/settings/variables/other';
@import 'src/styles/settings/variables/typography';
@import 'src/styles/settings/variables/_colors';

.box {
  padding: get-spacing(paldiski);
  border-radius: 4px;
  border: 1px solid;
  font-size: $veera-font-size-100;
  line-height: $veera-line-height-500;
  transform: translate(0, 0);

  &:hover {
    cursor: grab;
  }

  &--default {
    background-color: get-color(black-coral-1);
    border-color: get-color(black-coral-3);
  }

  &--blue {
    background-color: get-color(sapphire-blue-0);
    border-color: get-color(sapphire-blue-2);
  }

  &--yellow {
    background-color: get-color(dark-tangerine-0);
    border-color: get-color(dark-tangerine-4);
  }

  &--green {
    background-color: get-color(sea-green-1);
    border-color: get-color(sea-green-3);
  }

  &--red {
    background-color: get-color(jasper-1);
    border-color: get-color(jasper-3);
  }

  &--gray {
    background-color: get-color(black-coral-1);
    border-color: get-color(black-coral-3);
  }
}

[data-theme='dark'] .box {
  color: var(--dark-text-label);

  &--default {
    background-color: get-color(black-coral-12);
    border-color: get-color(black-coral-11);
  }

  &--blue {
    background-color: get-color(sapphire-blue-12);
    border-color: get-color(sapphire-blue-11);
  }

  &--yellow {
    background-color: get-color(dark-tangerine-12);
    border-color: get-color(dark-tangerine-11);
  }

  &--green {
    background-color: get-color(sea-green-12);
    border-color: get-color(sea-green-11);
  }

  &--red {
    background-color: get-color(jasper-12);
    border-color: get-color(jasper-11);
  }

  &--gray {
    background-color: get-color(black-coral-12);
    border-color: get-color(black-coral-11);
  }
}
