@import "src/styles/tools/color";

.popupText {
  padding-bottom: 10px;
}

.popupList {
  padding-left: 25px;
  padding-top: 10px;
}

.box {
  position: relative;

  .labelContainer {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 0;
    gap: 8px;

    .label {
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 0;
    }
  }

  .loader {
    width: 20px;
    height: 20px;
  }

  .deleteButton {
    align-items: center;
    color: get-color(black-coral-9);
    display: flex;
    transition: opacity 0.1s ease-in-out;
  }
}
