@import 'src/styles/tools/color';

.badge__rounded {
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-flex;
  height: 16px;
  justify-content: center;
  margin: 0 5px 0 0;
  padding: 3px 6px;
  width: 16px;

  .icon {
    color: #ffffff !important;
  }
}

.badge__red {
  background-color: red;
}

.badge__purple {
  background-color: purple;
}

[data-theme='dark'] .badge__purple {
  background-color: get-color(purple-10);
}

[data-theme='dark'] .badge__red {
  background-color: get-color(jasper-10);
}
