@import 'src/styles/tools/spacing';
@import 'src/styles/tools/color';
@import 'src/styles/settings/variables/other';
@import 'src/styles/settings/variables/typography';
@import 'src/styles/settings/mixins';

.checkbox {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: get-spacing(paldiski);

  &__label {
    display: block;
    flex: 0 0 170px;
    font-size: $veera-font-size-100;
    line-height: 24px;
  }

  &__item {
    @include checkbox-styling;
  }
}
